{{ $seriesName := index .Params.series 0 }}
{{ $seriesPosts := sort (index .Site.Taxonomies.series ($seriesName | lower)) "Date" }}
{{ $seriesCount := len $seriesPosts }}

{{ if gt $seriesCount 1 }}
    <div class="toc">
        <details
                {{ if .Params.seriesOpen | default (.Site.Params.seriesOpen | default false) }}
                    open
                {{ end }}
        >
            <summary>
                <span style="font-weight: 500;">{{ $seriesName }}</span>
                <span style="color: var(--secondary);">
                This post is part {{ with $seriesPosts }}{{ range $i, $post := . }}{{ if eq $post.Permalink $.Page.Permalink }}{{ add $i 1 }}{{ end }}{{ end }}{{ end }} of {{ $seriesCount }} in this series.
            </span>
            </summary>
            <div class="inner">
                <ol>
                    {{ range $index, $post := $seriesPosts }}
                        {{ if eq $post.Permalink $.Page.Permalink }}
                            <li class="post series-current-post" style="font-weight: 600;">
                                <span class="series-post-title">{{ $post.Params.title }}</span>
                            </li>
                        {{ else }}
                            <li class="post">
                                <a href="{{ $post.RelPermalink }}">
                                    <span class="series-post-title">{{ $post.Params.title }}</span>
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ol>
            </div>
        </details>
    </div>
{{ end }}